---
title: "Bitcoin Sozial"
layout: default
permalink: "/author-bitcoin-sozial.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row align-items-center mb-5">
        <div class="col-md-9">
          <h2 class="font-weight-bold">
            {{page.title}}
            <span class="small btn btn-outline-success btn-sm btn-round"
              ><a href="{{ site.authors.bitcoinsozial.twitter }}"
                >Folgen</a
              ></span
            >
          </h2>
          <p>
            <a href="{{ site.authors.bitcoinsozial.site }}"
              >{{ site.authors.bitcoinsozial.site }}</a
            >
          </p>
          <p class="excerpt">{{ site.authors.bitcoinsozial.bio }}</p>
        </div>
        <div class="col-md-3 text-right">
          <img
            alt="{{ site.authors.bitcoinsozial.name }}"
            src="{{site.baseurl}}/{{ site.authors.bitcoinsozial.avatar }}"
            class="rounded-circle"
            height="100"
            width="100"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>Beiträge von {{page.title}}</span>
      </h4>
      {% assign posts = site.posts | where:"author","bitcoinsozial" %} {% for
      post in posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
