---
title: "Information Retrieval"
layout: default
permalink: "/course-information-retrieval.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}</h2>
                <h5>{{site.uci-courses.information-retrieval.role}}</h5>
                <small class="font-weight-normal">{{ site.uci-courses.information-retrieval.department }}</small> <br>
                <small class="font-weight-normal">{{ site.uci-courses.information-retrieval.institution }}: {{ site.uci-courses.information-retrieval.quarter }}</small>
                <p class="excerpt">{{ site.uci-courses.information-retrieval.description }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.uci-courses.information-retrieval.name }}" src="{{ site.uci-courses.information-retrieval.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
<!--        <h4 class="font-weight-bold spanborder"><span>Posts related to {{page.title}}</span></h4>-->
<!--            {% assign posts = site.posts | where: "courses", "CS-141" %}-->
<!--            {% for post in posts %}-->
<!--            {% include main-loop-card.html %}-->
<!--            {% endfor %}-->
    </div>


    This course exposes students to principal concepts related to information retrieval, including text analyzers (e.g., stemming and tokenization), text indexing, inverted index, search (boolean expressions, phrase search), and ranking. It will also cover topics of Web search and vertical search, with related techniques such as crawling and search engine optimization. A significant part of the course is to implement a search engine using Java.

    This course exposes students to principal concepts related to information retrieval, including text analyzers (e.g., stemming and tokenization), text indexing, inverted index, search (boolean expressions, phrase search), and ranking. It will also cover topics of Web search and vertical search, with related techniques such as crawling and search engine optimization. A significant part of the course is to implement a search engine using Java.

    This course exposes students to principal concepts related to information retrieval, including text analyzers (e.g., stemming and tokenization), text indexing, inverted index, search (boolean expressions, phrase search), and ranking. It will also cover topics of Web search and vertical search, with related techniques such as crawling and search engine optimization. A significant part of the course is to implement a search engine using Java.


</div>
</div>


