---
title: "Teaching"
layout: default
permalink: "/teaching.html"
---

<!--UCI Teaching-->
<div class="container">
<h4 class="font-weight-bold spanborder"><span>UC Irvine {{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for course in site.uci-courses %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ course[1].name }}" src="{{ course[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
            <div class="col-md-9">
<!--            <a href="{{site.baseurl}}/course-{{ course[1].name | slugify }}.html">-->
            <h4 class="text-dark mb-0"> {{ course[1].name }} </h4>
            <div>
                <small class="font-weight-normal">{{ course[1].institution }}: {{ course[1].quarter }}</small> <br>
                <small class="font-weight-normal">{{ course[1].department }}</small>
            </div>
                <div class="excerpt">{{ course[1].description }}</div>
            </a>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<!--Girls Who Code Teaching-->
<div class="container">
    <h4 class="font-weight-bold spanborder"><span>Girls Who Code {{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
        {% for course in site.gwc-courses %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
                <div class="row">
                    <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ course[1].name }}" src="{{ course[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
                    <div class="col-md-9">
<!--                        <a href="{{site.baseurl}}/course-{{ course[1].name | slugify }}.html">-->
                            <h4 class="text-dark mb-0"> {{ course[1].name }} </h4>
                            <div>
                                <small class="font-weight-normal">{{ course[1].institution }}: {{ course[1].quarter }}</small> <br>
                                <small class="font-weight-normal">{{ course[1].role }}</small>
                            </div>
                            <div class="excerpt">{{ course[1].description }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!--UCSD Teaching-->
<div class="container">
    <h4 class="font-weight-bold spanborder"><span>UC San Diego {{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
        {% for course in site.ucsd-courses %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
                <div class="row">
                    <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ course[1].name }}" src="{{ course[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
                    <div class="col-md-9">
<!--                        <a href="{{site.baseurl}}/course-{{ course[1].name | slugify }}.html">-->
                            <h4 class="text-dark mb-0"> {{ course[1].name }} </h4>
                            <div>
                                <small class="font-weight-normal">{{ course[1].institution }}: {{ course[1].quarter }}</small> <br>
                                <small class="font-weight-normal">{{ course[1].department }}</small>
                            </div>
                            <div class="excerpt">{{ course[1].description }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>