# Site
name: "Bitcoin Sozial"
description: "Kollektiv für Soziale Fragen im Zeitalter von Bitcoin."
logo: "assets/images/logo.png"
favicon: "assets/images/favicon.ico"
baseurl: ""
disqus: "xxx"
email: "bitcoinsozial@protonmail.com"
# mailchimp-list: "https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b"

include: ["_pages"]
permalink: /:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-target-blank

authors:
  sal:
    name: Calle B.
    # site: https://www.wowthemes.net
    avatar: assets/images/authors/avatar_calle.jpg
    bio: "Physiker und Open-Source Hacker der freie Bitcoin Software baut."
    # email: callebtc@ln.tips
    twitter: https://twitter.com/callebtc

  jane:
    name: Jane
    site: https://www.wowthemes.net
    avatar: assets/images/avatar2.jpg
    bio: "Komplett erfundener Charakter der hier nust ist um den Platz zu füllen!"
    email: fakemail@gmail.com
    twitter: https://twitter.com/wowthemesnet

# Defaults
defaults:
  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: sal
      avatar: /assets/images/avatar1.jpg

  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page

# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude:
  [
    README.markdown,
    package.json,
    grunt.js,
    Gruntfile.js,
    Gruntfile.coffee,
    node_modules,
  ]
