
<div class="container">
    <div class="carousel-view">
      <button id="prev-btn" class="prev-btn">
    <svg viewBox="0 0 512 512" width="20" title="chevron-circle-left">
        <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
    </svg>
      </button>

        <div id="item-list" class="item-list ">

            {% for post in site.posts %} 
            <div class="item col-md-4"  style="background-image:url({{site.baseurl}}/{{ post.image }});">
                <a href="{{site.baseurl}}{{post.url}}">

                    <!--This is where the content is-->   
                    <div class="align-self-center">                    
                        <h1> {{post.title}}</h1>
                        <p>
                            <br>{{ post.excerpt | strip_html | strip_newlines | truncate: 256 }}
                        </p>
                        <!--<a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
                        -->
                    </div>
                </a>
            </div> 
            {% endfor %} 
              
        </div>

      <button id="next-btn" class="next-btn">
            <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
    <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" />
  </svg>
          </button>
      </div>
  </div>
