<div class="mb-5 d-flex justify-content-between main-loop-card post-all-post">
<div class="pr-3 all-post-text">
	<h2 class="mb-1 h4 font-weight-bold">
	<a href ="{{site.baseurl}}{{post.url}}" class="text-dark hvr-grow">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
	<a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark hvr-wobble-horizontal">Read More</a>
</div>
{% if post.image %}
	<div class="col-md-6 pr-0 text-right all-post-image" style="background-size:cover;background-image:url({{site.baseurl}}/{{ post.image }});">
	</div>
{% endif %}
</div>
