<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Anasayfa</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hakkimda.html">Hakkımda</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/etiketler.html">Etiketler</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/iletisim.html">İletişim</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="#">Rahatla <i class="fa fa-coffee text-danger"></i></a>
</li>
