<h5 class="mb-3">İletişimde Kalalım</h5>

<p>Gönderiler hakkındaki fikirlerinizi iletmek için yorumları kullanabilirsiniz. Son gönderilerden haberdar olmak için gönderilerin sonunda yer alan forma elektronik postanı bırakabilirsin, asla istenmeyen ileti göndermem. Eğer özel bir konu ise <a href="/iletisim.html">iletişime</a> geçmek için formu kullanabilirsiniz. Sosyal medyada takip etmek için ise Vero hesabıma göz atın.</p>

<a target="_blank" href="https://vero.co/tolgaaaltas" class="btn btn-warning d-block mb-2"><i class="fa fa-user-plus"></i> Takip Et</a>

<a class="btn btn-danger d-block" href="/yer-imleri.html"><i class="fa fa-bookmark"></i> Yer imleri</a> 
