.navbar button.navbar-toggler[data-target="#navigation"] {
    padding-top: 0;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar .navbar-toggle button:focus, .navbar .navbar-toggler {
    outline: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
        padding-top: 0.25rem;
    font-size: 0.99925rem;
    line-height: 1;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
}
button {
    font-family: "Poppins", sans-serif;
}
button {
    text-transform: none;
}
button {
    overflow: visible;
}
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}