---
layout: default
---
{% assign course = site.courses[page.course] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<h1 class="display-4 article-headline">{{ course.name }}</h1>
					<h1 class="display-5 course-subtitle mb-4">{{course.role}}</h1>
					<div class="d-flex align-items-center">
						{% if course.avatar %}
						<img class="rounded-circle" src="{{site.baseurl}}/{{course.avatar}}" alt="{{course.name}}" width="70"/>
						{% endif %}
						<small class="ml-3"> {{ course.institution }}, {{course.department}} <span></span>
							<span class="text-muted d-block mt-1">{{course.quarter}}</span>
						</small>
					</div>
					<p class="excerpt" style="margin-top: 20px">{{course.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        

		<div class="col-md-12 col-lg-8">
            
            <!-- Article -->
			<course class="article-post">
			{{ content }}                
			</course>

			{% assign posts = site.posts | where:"courses", page.course %}
			{% if posts.size > 0%}

			<h4 class="font-weight-bold spanborder"><span>Posts related to {{course.name}}</span></h4>
<!--			{% assign posts = site.posts | where:"courses", page.course %}-->
			{% for post in posts %}
			{% include main-loop-card.html %}
			{% endfor %}

			{% endif %}

		</div>
        
        
	</div>
</div>

