/*          Changes for small display      */

@media (max-width: 767px){ 
    .navbar-transparent{
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    body {
         position: relative;
    }
       
        
    .social-line .btn{
        margin: $margin-bottom;
    }
    .card .header .social-line .btn{
        margin: 0;
    }        
}

